/*THIS CSS CONTAIN THE NEEDED COMMON CSS ACROSS ALL PAGES*/

* {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	font: 14px/1.4em Arial;
}

button, input[type="button"], input[type="submit"]
{
	cursor: pointer;
}

button::-moz-focus-inner 
{
	border: 0 none;
}

button:active 
{
	outline: medium none;
	padding: 0;
}

button:focus 
{
	outline: medium none;
}

a
{
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, p
{
	margin: auto;
}


img:-moz-loading {
    visibility: hidden;
}

input[type="text"], input[type="button"], input[type="submit"], textarea, button {
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
    -webkit-border-radius: 0;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}


/*Class for disabling element selection*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Prevent the child's margin moving the parent*/
.parent::before {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}

.parent::after {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}

.innerWrapper-main
{
	margin: 0px auto;
	max-width: 1200px;
}

.float-left
{
	float:left;
}

.float-right
{
	float: right;
}

.clear
{
	float: none;
	clear: both;
}

.relative
{
	position: relative;
}

.absolute
{
    position: absolute;
}

/*Text*/
.center-text
{
    text-align: center;
}

/*Block*/
.center-block
{
    margin: 0px auto;
}

.full-dim
{
    height: 100%;
    width: 100%;
}

.full-width
{
	width: 100%;
}

.top-left
{
	top: 0px;
    left: 0px;
}

.half-width {
    width: 50%;
}

.pointer{
    cursor: pointer;
}

.self-clear:after
{
	content: '';
	display: block;
	float: none;
	clear: both;
}

.pop-up
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}

.pop-up.active, .pop-up.show{
    display: table;
}

.pop-up > div
{
    display: table-cell;
    vertical-align: middle;
}

.btn{
    width: 200px;
    height: 30px;
    border: none;
}
